
nav {
 
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 250px;

}
.nav-img{
     background-image: url('./Assets/Hero-bg.png');
}

.nav-text{
  font-size: 28px;
  font-weight: bold;
  color: blue;
 
}
.nav-text-2{
    background-color: blue;
     color: white;
     font-size: 28px;
     padding: 10px 12px;
     font-weight: bold;
     border-radius:10px;
     border: none;
    
}
.hero-content{
    
    font-size: 20px;
    text-align: center;
    padding-bottom: 250px;
  
  
}
